<div class="container-fluid margin-top">
    <div class="card text-white bg-dark">
        <div class="card-body padding">
            <div class="row">
                <div class="col-sm-4 col-md-3  col-padding-right margin-top">
                    &nbsp;
                </div>
                <div class="col-sm-8 col-md-9 col-padding-left margin-top">
                    <h1>
                        <img style="height:40px; width: 40px; margin-top:-6px" [src]="comodity ? comodity.logo : '#'">
                        {{local.string.Trade}}
                        <small class="text-muted">({{scope}})</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3  col-padding-right">
            <vpe-panel-tokens [tokens]="tokens"></vpe-panel-tokens>
            <vpe-panel-wallet [deposits]="deposits"></vpe-panel-wallet>
        </div>
        <div class="col-sm-8 col-md-9 col-padding-left">
            <vpe-panel-chart></vpe-panel-chart>
            <vpe-panel-order-editor [deposits]="deposits" [comodity]="comodity" [currency]="currency"></vpe-panel-order-editor>
            <div class="row">
                <div class="col-sm-8 col-md-9 col-padding-right">
                    <vpe-panel-orders [orders]="orders"></vpe-panel-orders>
                </div>
                <div class="col-sm-4 col-md-3 col-padding-left">
                    <vpe-panel-history [history]="history"></vpe-panel-history>
                </div>
            </div>
        </div>
    </div>
</div>