<div class="container-fluid margin-top">
    <div class="card text-white bg-dark">
        <div class="card-body padding">
            <div class="row">
                <div class="col-sm-4 col-md-3  col-padding-right margin-top">
                    &nbsp;
                </div>
                <div class="col-sm-8 col-md-9 col-padding-left margin-top">
                    <h1>
                        <img style="height:40px; width: 40px; margin-top:-6px" [src]="comodity ? comodity.logo : '#'">
                        Trade
                        <small class="text-muted">({{scope}})</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3  col-padding-right">
            <div class="card text-white bg-dark margin-top">
                <div class="card-body padding">
                    <vpe-tokens [tokens]="tokens"></vpe-tokens>
                </div>
            </div>
            <div class="card text-white bg-dark margin-top">
                <div class="card-body padding">
                    <vpe-wallet [deposits]="deposits"></vpe-wallet>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-padding-left">
            <div class="card text-white bg-dark margin-top">
                <div class="card-body padding">
                    <vpe-chart></vpe-chart>
                </div>
            </div>
            <div class="card text-white bg-dark margin-top">
                <div class="card-body padding">
                    <vpe-order-editor></vpe-order-editor>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-9 col-padding-right">
                    <div class="card text-white bg-dark margin-top">
                        <div class="card-body padding">
                            <vpe-orders [orders]="orders"></vpe-orders>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-padding-left">
                    <div class="card text-white bg-dark margin-top">
                        <div class="card-body padding">
                            <vpe-history [history]="history"></vpe-history>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        <!--
        <div *ngFor="let order of orders.sell">
            <div class="card">
                <div class="card-body">
                    <span><b>id: </b> {{order.id}}</span><br>
                    <span><b>owner: </b> {{order.owner}}</span><br>
                    <span><b>price: </b> {{order.price.toString()}}</span><br>
                    <span><b>inverse: </b> {{order.inverse.toString()}}</span><br>
                    <span><b>total: </b> {{order.total.toString()}}</span><br>
                    <span><b>deposit: </b> {{order.deposit.toString()}}</span><br>
                    <span><b>telos: </b> {{order.telos.toString()}}</span><br>
                    <span><b>fee: </b> {{order.fee.toString()}}</span><br>
                </div>                
            </div>
        </div>
        <hr>
        <div *ngFor="let order of orders.buy">
                <div class="card">
                    <div class="card-body">
                        <span><b>id: </b> {{order.id}}</span><br>
                        <span><b>owner: </b> {{order.owner}}</span><br>
                        <span><b>price: </b> {{order.price.toString()}}</span><br>
                        <span><b>inverse: </b> {{order.inverse.toString()}}</span><br>
                        <span><b>total: </b> {{order.total.toString()}}</span><br>
                        <span><b>deposit: </b> {{order.deposit.toString()}}</span><br>
                        <span><b>telos: </b> {{order.telos.toString()}}</span><br>
                        <span><b>fee: </b> {{order.fee.toString()}}</span><br>
                    </div>                
                </div>
            </div>                
        <hr>
     
        <div><h4>comodity</h4><pre>{{comodity|json}}</pre></div>
        <hr>
        <div><h4>currency</h4><pre>{{currency|json}}</pre></div>
           --->
