<div class="container margin-top">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="card text-white bg-dark margin-top">
        <div class="card-body" [ngClass]="{'d-none':vapaee.loginState != 'no-scatter'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary" (click)="scatter.connectApp()">retry</span>
            </div>
            <span>Scatter not detected</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':vapaee.loginState != 'no-logged'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary" (click)="vapaee.login()">
                    {{local.string.LoginWScatter}}
                </span>
            </div>
            <span>{{local.string.NotLogged}}</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':!vapaee.logged}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary margin-left" (click)="vapaee.logout()">Logout from Scatter</span>
            </div>
            <span>{{local.string.LoggedAs}} '{{vapaee.logged ? vapaee.account.name : 'guest'}}'</span>
        </div>       
    </div>
    <!-- div class="card text-white bg-dark">
        <div class="card-body">
            {{vapaee.loginState|json}}
        </div>
    </div -->
</div>
