<div class="container margin-top">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="card text-white bg-dark margin-top">
        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'no-scatter'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary" (click)="scatter.connectApp()">retry</span>
            </div>
            <span>Scatter not detected</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'no-logged'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary" (click)="cnt.login()">
                    {{local.string.LoginWScatter}}
                </span>
            </div>
            <span>You are not logged in</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'no-profiles'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary" [routerLink]="'/local/bgbox/register'" [queryParams]="{ type: 'profile'}">Create a profile</span>
            </div>
            <span>You have no profiles on BG-Box</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'no-selected'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary margin-left" [routerLink]="'/local/bgbox/register'"  [queryParams]="{ type: 'profile', back: ''}">Create another profile</span>
            </div>
            <span>Please select a profile</span>
        </div>

        <div class="card text-white bg-dark" [ngClass]="{'d-none':cnt.loginState != 'no-selected'}">
            <div class="card-body">
                <div class="row">
                    <div class="input-group col-sm-12">
                        <h2>profiles</h2>
                    </div>
                    <div class="input-group col-sm-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>owner</td>
                                    <td>namespace</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of cnt.profiles" class="cursor-pointer" (click)="selectProfile(user)">
                                    <td>{{user.username}}</td>
                                    <td>{{user.owner}}</td>
                                    <td>{{user.slugid.str}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
            

        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'no-registered'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-danger" (click)="cnt.resetProfiles()">Deselect Profile</span>
                <span class="btn btn-sm btn-success margin-left" (click)="cnt.registerProfile()">Register profile in C&T</span>
            </div>
            <span>In order to use C&T you must first register your '{{cnt.profile.username}}' profile</span>
        </div>
        <div class="card-body" [ngClass]="{'d-none':cnt.loginState != 'profile-ok'}">
            <div class="pull-right">
                <span class="btn btn-sm btn-secondary">Logout from C&T</span>
                <span class="btn btn-sm btn-secondary margin-left">Logout from Scatter</span>
            </div>
            <span>Logged as '{{cnt.profile.username}}'</span>
        </div>        
    </div>
</div>
