<vpe-panel [title]="local.string.Tokenlist">
    <div class="row">
        <div class="col-sm-12 input-group">
            <input
                type="text"
                class="form-control form-control-sm"
                placeholder="{{local.string.searchtk}}"
                [value]="token_filter"
                (input)="token_filter = $event.target.value"
                >
            <div class="input-group-append">
                <span class="input-group-text form-control-sm padding-xs">
                    <i class="material-icons">search</i>
                </span>
            </div>
        </div>            
    </div>

    <table class="table right-aligned margin-bottom-xs">
        <colgroup>
            <col style="width:25%">
            <col style="width:20%">
            <col style="width:30%">
            <col style="width:25%">
        </colgroup>
        <thead>
            <tr>
                <th>token</th>
                <th>vol</th>
                <th>$</th>
                <th style="padding-right:25px;">%</th>
            </tr>
        </thead>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <perfect-scrollbar style="max-height: 300px; max-width: 100%">
                <div class="row">
                    <div class="col-12 padding-right-lg">
                        <table class="table right-aligned">
                            <tbody>
                                <tr *ngFor="let token of tokens | filter:token_filter"
                                    [hidden]="token.symbol == 'TLOS'"
                                    class="cursor-pointer"
                                    routerLink="{{'/exchange/trade/' + token.scope}}"
                                >
                                    <td class="nowrap">
                                        <img style="height:16px; width: 16px; margin-top:-2px" [src]="token.logo">
                                        {{token.symbol}}
                                    </td>
                                    <td>12</td>
                                    <td>1.10000000</td>
                                    <td>+0.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</vpe-panel>