<div class="container">
    <div class="card text-white bg-dark margin-top">
        <div class="card-body">
            <h1><img style="height:32px; width: 32px;" src="/assets/logos/telos.png"> Telos tokens</h1>
        </div>
    </div>

    <div class="card-deck">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let token of tokens">
                <div class="card token-card text-white bg-dark margin-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            <img style="height:20px; width: 20px; margin-top:-3px" [src]="token.logo">
                            {{token.appname}}
                        </h4>
                        <p class="card-text">
                            <span class="nowrap">{{token.stat ? token.stat.max_supply : ('0 ' + token.symbol)}}</span><br>
                            <a [href]="token.website" target="_blank"><small class="text-muted">{{token.website}} &nbsp;</small></a><br>
                            <span [hidden]="token.symbol != 'TLOS'"
                                class="btn disabled btn-primary btn-sm margin-top">trade</span>
                            <span [hidden]="token.symbol == 'TLOS'"
                                class="btn btn-primary btn-sm margin-top"
                                routerLink="{{'/exchange/trade/'+token.symbol.toLowerCase()+'.tlos'}}">trade</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
