<vpe-panel [title]="local.string.OrderForm">
    <div class="row">
        <!--
        <div class="col-sm-12">
            <div [hidden]="!vapaee.logged" class="pull-right">
                <small class="text-muted cursor-pointer" [routerLink]="'/exchange/profile/' + vapaee.current">
                    {{local.string.LoggedAs}} '{{vapaee.logged}}'
                </small>
            </div>
        </div>
        <div class="col-sm-12">
            
        </div>
        -->
        <div class="col-sm-12" [hidden]="vapaee.logged">
            <div  class="pull-left margin-top">
                <span class="btn btn-sm btn-secondary" (click)="vapaee.login()">
                    {{local.string.LoginWScatter}}
                </span>
            </div>
        </div>
        
        <div class="col-sm-12" [hidden]="!vapaee.logged">
            <div class="form-row">
                <div class="col-sm-3">
                    <label>{{local.string.wdywdo}}</label>
                    <div class="row">
                        <div class="col-sm-6 col-padding-right">
                            <span type="text" class="form-control form-control-sm btn btn-sm" [ngClass]="{active: wants=='buy', 'btn-success': can_buy, 'disabled': !can_buy}" (click)="wantsTo('buy')" >
                                Wanna buy
                            </span>
                        </div>
                        <div class="col-sm-6 col-padding-left">
                            <span type="text" class="form-control form-control-sm btn btn-sm" [ngClass]="{active: wants=='sell', 'btn-danger': can_sell, 'disabled': !can_sell}" (click)="wantsTo('sell')" >
                                Wanna sell
                            </span>    
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>{{local.string.Price}}</label>
                    <vpe-token-input [(asset)]="price" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Price}}"></vpe-token-input>
                </div> 
                <div class="form-group col-sm-3">
                    <label>{{local.string.Amount}}</label>
                    <vpe-token-input [(asset)]="amount" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Amount}}"></vpe-token-input>
                </div>
                <div [hidden]="wants=='sell'" class="form-group col-sm-3">
                    <label>{{local.string.Payment}} {{payment ? payment.toString(8) : ""}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-sm btn-success" (click)="buy()" >
                        {{local.string.Buy}}
                    </span>
                </div>
                <div [hidden]="wants=='buy'" class="form-group col-sm-3">
                    <label>{{local.string.Payment}} {{payment ? payment.toString(8) : ""}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-sm btn-danger" (click)="sell()" >
                        {{local.string.Sell}}
                    </span>
                </div>
            </div>
        </div>

        <!--
        <div class="col-sm-12" [hidden]="!vapaee.logged">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label>{{local.string.Price}}</label>
                    <vpe-token-input [(asset)]="price" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Price}}"></vpe-token-input>
                </div> 
                <div class="form-group col-sm-4">
                    <label>{{local.string.Amount}}</label>
                    <vpe-token-input [(asset)]="amount" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Amount}}"></vpe-token-input>
                </div>
                <div class="form-group col-sm-2">
                    <label>{{local.string.Buy}} {{comodity ? comodity.symbol : ""}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-sm" [ngClass]="{'disabled': !can_buy, 'btn-success': can_buy}" (click)="buy()" >
                        {{local.string.Buy}}
                    </span>
                </div>
                <div class="form-group col-sm-2">
                    <label>{{local.string.Sell}} {{comodity ? comodity.symbol : ""}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-sm" [ngClass]="{'disabled': !can_sell, 'btn-danger': can_sell}" (click)="sell()" >
                        {{local.string.Sell}}
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label>Payment {{payment ? payment.toString(8) : ""}}</label>
                </div>
            </div>
        </div>
        -->


        <!--
        <div class="col-sm-12" [hidden]="!vapaee.logged">
            <div class="form-row">
                <div class="form-group col-sm-3 col-md-3">
                    <label>{{local.string.Price}}</label>
                    <vpe-token-input [(asset)]="price" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Price}}"></vpe-token-input>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label>{{local.string.Amount}}</label>
                    <vpe-token-input [(asset)]="amount" (valueChange)="onChange($event)" precision="8" placeholder="{{local.string.Amount}}"></vpe-token-input>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label>{{local.string.Buy}} {{amount ? amount.toString(8) : ""}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-success btn-sm" (click)="debug(price)" >
                        {{local.string.Buy}}
                    </span>
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <label>{{local.string.Sell}}</label>
                    <span type="text" class="form-control form-control-sm btn btn-danger btn-sm" (click)="debug(amount)" >
                        {{local.string.Sell}}
                    </span>
                </div>
            </div>
        </div>   
        -->
    </div>
</vpe-panel>


