<div class="container margin-top">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <div class="row">
                <div class="input-group col-sm-12">
                    <span class="btn btn-sm margin-right" [ngClass]="{'btn-secondary': !data.isapp, 'btn-primary': data.isapp}" (click)="setPublisher()">New Publisher</span>
                    <span class="btn btn-sm margin-right" [ngClass]="{'btn-secondary': data.isapp, 'btn-primary': !data.isapp}" (click)="setApp()">New App</span>
                    <span class="btn btn-sm margin-right btn-primary" (click)="prueba()">Prueba</span>
                    <span class="btn btn-sm margin-right btn-primary" (click)="consultar_tablas()">Tablas Prueba</span>
                </div>              
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-xxl">
    <div class="card text-white bg-dark">
        <div class="card-header">
            <span class="text-lg color-green">Register New {{data.isapp ? "App" : "Publisher"}}</span>
        </div>        
        <div class="card-body">
            <div class="row">
                <div class="input-group col-sm-2">
                    <span class="label">owner:</span>
                </div>
                <div class="input-group col-sm-10">
                    <input type="text disabled" class="form-control form-control-sm" [value]="data.owner">
                </div>
            </div>
            <div class="row margin-top">
                <div class="input-group col-sm-2">
                    <span class="label">Title:</span>
                </div>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control form-control-sm" [value]="data.title || ''" (input)="data.title = $event.target.value">
                </div>
            </div>
            <div class="row margin-top">
                <div class="input-group col-sm-2">
                    <span class="label">namespace:</span>
                </div>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control form-control-sm" [value]="data.nick || ''" (input)="data.nick = $event.target.value">
                </div>
            </div>
            <div class="row margin-top" [ngClass]="{'d-none': !data.isapp}">
                <div class="input-group col-sm-2">
                    <span class="label">contract account:</span>
                </div>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control form-control-sm" [value]="data.contract || ''" (input)="data.contract = $event.target.value">
                </div>
            </div>
            <div class="row margin-top" [ngClass]="{'d-none': !data.isapp}">
                <div class="input-group col-sm-2">
                    <span class="label">inventory space:</span>
                </div>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control form-control-sm" [value]="data.inventory || ''" (input)="data.inventory = $event.target.value">
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <span class="btn btn-primary" (click)="register()">Register</span>
                    </div>
                </div>
            </div>
            <div class="row margin-top">
                <div class="input-group col-sm-12">
                    <pre>{{data|json}}</pre>
                </div>            
            </div>            
        </div>
    </div>
</div>



<!--div class="container margin-top-xxl">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <div class="row margin-top">
                <div class="input-group col-sm-12">
                    <pre>{{scatter.account|json}}</pre>
                </div>            
            </div>            
        </div>
    </div>
</div-->

