<div class="row">
    <div class="col-sm-12">
        <div [hidden]="!vapaee.logged" class="pull-right">
            <small class="text-muted cursor-pointer" [routerLink]="'/exchange/profile/' + vapaee.current">
                {{local.string.LoggedAs}} '{{vapaee.logged}}'
            </small>
        </div>
        <div class="text-md">{{local.string.OrderForm}}</div>
    </div>
    <div class="col-sm-12" [hidden]="vapaee.logged">
        <div  class="pull-left margin-top">
            <span class="btn btn-sm btn-secondary" (click)="vapaee.login()">
                {{local.string.LoginWScatter}}
            </span>
        </div>
    </div>
    <div class="col-sm-12" [hidden]="!vapaee.logged">
        <div class="form-row">
            <div class="form-group col-sm-3">
                <label>{{local.string.Price}}</label>
                <input type="text" class="form-control form-control-sm"  placeholder="{{local.string.Price}}">
            </div>
            <div class="form-group col-sm-3">
                <label>{{local.string.Amount}}</label>
                <input type="text" class="form-control form-control-sm"  placeholder="{{local.string.Amount}}">
            </div>
            <div class="form-group col-sm-3">
                <label>{{local.string.Amount}}</label>
                <select class="form-control form-control-sm">
                    <option>Small select</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>{{local.string.Amount}}</label>
                <div class="dropdown" ngbDropdown>
                    <button ngbDropdownToggle class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>



