body, html {
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.text-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.text-subtitle {
    font-size: 18px;
    // font-weight: bold;
    color: white;
}

i.tiny {
    font-size: 10px;
}

.bg-dark table.table {
    color: white;
}