<div class="row">
    <div class="col-sm-6">
        <table class="table right-aligned complete">
            <thead>
                <tr class="text-center">
                    <th>sum</th>
                    <th>total</th>
                    <th>amount</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders.sell">
                    <td>{{order.telos.valueToString()}}</td>
                    <td>{{order.telos.valueToString()}}</td>
                    <td>{{order.total.valueToString(8)}}</td>
                    <td>{{order.price.valueToString(8)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table right-aligned complete">
            <thead>
                <tr class="text-center">
                    <th>price</th>
                    <th>amount</th>
                    <th>total</th>
                    <th>sum</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders.buy">
                    <td>{{order.price.valueToString(8)}}</td>
                    <td>{{order.total.valueToString(8)}}</td>
                    <td>{{order.telos.valueToString()}}</td>
                    <td>{{order.telos.valueToString()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>